body,ul{ margin:0; padding:0;}
li{ list-style:none;}
input,button,select,textarea{ outline:none;}
a{ text-decoration:none;cursor:pointer}
body{background: linear-gradient(#323232, #C48D8D);}
.login{ width:325px; height:370px; background-image:url(/statics/img/21232.jpg); border-radius:5px;color:white; box-shadow:0 0 12px #444; position:absolute; top:50%; left:50%; margin-left:-162px; margin-top:-185px;}
.login_tit{ width:325px; text-align:right;}
.login_off{ display:inline-block; width:16px; height:16px; color:white; border-radius:50%; background-color:#1f1f1f; border:2px solid #7d7d7d; box-shadow:0 0 2px #000; font-weight:700; }
.login_h3{ font:1em/100% "微软雅黑", sans-serif; width:155px;}
.login_con{ margin:0 20px; overflow:hidden; padding-bottom:20px;}
.login_con i{background-image:url(/statics/img/saa1.png); display:block; width:17px; height:17px; background-repeat: no-repeat; float:right;}
.login_icon2{ background-position:0 -22px; color:#ff2328;}
.login_s1,.login_s2{ float:right; display:block; font:12px/150% sans-serif; margin-right:5px;}
.login_s1{ color:#63b853;}
.login_s2{ color:#ff2328;}
.login_input,.login_input1{ height:37px; width:275px; border-radius:5px; border:0; padding-left:5px; margin-left:2px;}
.login_input{ background:url(/statics/img/1221.jpg) no-repeat;}
.login_input1{ background:url(/statics/img/1222.jpg) no-repeat;}
.login_input:hover,.login_input1:hover{box-shadow: 0 0 20px rgba(99, 184, 83, 0.65);}
.login_footer{margin:0 20px; overflow:hidden;}
.login_sp1{ display:block; width:78px; height:36px; background-color:#3f3f41; border-radius:6px;  box-shadow:0 0 5px #aaa; float:right; margin:5px;}
.login_btn{background:url(/statics/img/ass1.jpg) no-repeat; width:70px; height:28px; display:block; font:0.8em/28px "微软雅黑" sans-serif; font-weight:700; border-radius:5px; border:1px solid #000; margin:3px; position:absolute; text-align:center;}
.login_a{ font:12px/45px sans-serif; margin-left:20px; color:white;}
.login_ad{margin:0 36px; overflow:hidden;}
.login_ad li{ float:left; width:112px; padding:7px 7px;}
.login_ad li a{ display: inline-block;  background-image:url(/statics/img/btn1.png); width:112px; height:35px; border-radius:5px; box-shadow:0 2px 5px #000; background-repeat: no-repeat; color:#3b3b3b;}
.login_ad li a span{font:1em/210% "微软雅黑", sans-serif; margin-left:42px; }
.login_ad_a1{}
.login_ad_a2{background-position:0 -81px;}
.login_ad_a3{background-position:0 -164px;}
.login_ad_a4{background-position:0 -248px;}
.login_ad_a1:hover{background-position:0 -41px; color:#d8d8d8;}
.login_ad_a2:hover{background-position:0 -122px; color:#d8d8d8;}
.login_ad_a3:hover{background-position:0 -205px; color:#d8d8d8;}
.login_ad_a4:hover{background-position:0 -288px; color:#d8d8d8;}