<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>商品页</title>
<link  href="/statics/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link  href="/statics/css/GT_css.css" rel="stylesheet" type="text/css" />
<link  href="/statics/css/home.css" rel="stylesheet" type="text/css" />
<link  href="/statics/css/goods.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/statics/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="/statics/js/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="/statics/js/jquery.timers-1.2.js"></script>
<script type="text/javascript" src="/statics/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/statics/js/home.js"></script>
</head>
<body data-spy="scroll">
	<div id="header">
		<div class="headerCon">
			<ul>
				<a href="/">
					<!-- 选择不同的功能界面显示不同的logo：给就卖的logo：wesold.png -->
					<li class="logo1"></li>
				</a>
				<li id="nav">
					<a>
						<div>
							<span>我的订单</span>
						</div>
					</a>
					<a>
						<div>
							<span>我的收藏</span>
						</div>
					</a>
					<a>
						<div>					
							<span>筛选条件</span>					
						</div>
					</a>
				</li>
				<li class="headeright">
					<a>
						<div>
							<span class="headerightaspan1">num</span>
							<span class="headerightaspan2"></span>
						</div>
					</a>
					<a>
						<div>					
							<span>注册</span>					
						</div>
					</a>
					<a>
						<div>
							<span>登录</span>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
    <div id="HomeBanner_top"></div>
	<div id="HomeContent">
		<div id="HomeBanner" class="goodsLun" style="height: 245px;">
			<div class="bs-example">
		      	<div id="carousel-example-captions" class="carousel slide bs-docs-carousel-example">
			        <ol class="carousel-indicators">
			          	<li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
			          	<li data-target="#carousel-example-captions" data-slide-to="1" class=""></li>
			        </ol>
			        <div class="carousel-inner">
			          	<div class="item active">
			            	<img data-src="" src="/statics/img/4.jpg" alt="900x500">
				            <!-- <div class="carousel-caption">
				              	<h3>First slide label</h3>
				              	<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
				            </div> -->
			          	</div>
			          	<div class="item">
			            	<img data-src="holder.js/900x500/auto/#666:#666" src="/statics/img/5.jpg" alt="900x500">
				            <!-- <div class="carousel-caption">
				              	<h3>Second slide label</h3>
				              	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				            </div> -->
			        	</div>
			        </div>
			        <a class="left carousel-control" href="#carousel-example-captions" data-slide="prev">
			          	<span class="glyphicon glyphicon-chevron-left"></span>
			        </a>
			        <a class="right carousel-control" href="#carousel-example-captions" data-slide="next">
			          	<span class="glyphicon glyphicon-chevron-right"></span>
			        </a>
		      	</div>
		    </div>
		    <div class="lunRight"></div>
		</div>
		<div id="HomeCon">
			{% include "homeBlock.html" %}
		</div>
		<div class="homeConDown"href="">
			<a class="aLeft"><span></span></a>
			<div class="pageNumLeft">
				显示十位数
			</div>
			<div class="pageNum">
				<a class="aCenter">0</a>
				<a class="aCenter">1</a>
				<a class="aCenter">2</a>
				<a class="aCenter">3</a>
				<a class="aCenter">4</a>
				<a class="aCenter">5</a>
				<a class="aCenter">6</a>
				<a class="aCenter">7</a>
				<a class="aCenter">8</a>
				<a class="aCenter">9</a>
			</div>
			<a class="aRight"><span></span></a>
		</div>
	</div>
    {% include "footerBlock.html" %}
	<div id="footer" class="indexfooter_hide_show" onmouseover="footer_stoptime()" onmouseout="footer_time()">
		<div class="footerCon">
			<ul>
				<li class="logo2"></li>
				<li class="footerLinks">
					<div class="footerDiva1">
						<a>创作者加入</a>
						<a>品牌商参与</a>
						<a>关于罐头工场</a>
						<a>招聘</a>
						<a>帮助&amp;常见问题</a>
						<a>联系我们</a>
						<a>客户服务</a>
					</div>
					<div class="footerDiva2">
						<ul>
							<li><em>©</em> 2012 罐头工场</li>
							<li><a>远程创作与跨界协作平台</a></li>
							<li><a>隐私权政策</a></li>
							<li><a>使用条款</a></li>
							<li><a>版权说明</a></li>
							<li>京<a>128713</a>号</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>