<div id="index_footer" >
    <div style="width:50px;height:100px;position:absolute;right:-70px;">
        <a id="index_footer_top" href="#HomeBanner_top" style="position:fixed;bottom:115px;">
            <div style="width:50px;height:50px;background:url(/statics/img/gtmin.png) no-repeat;background-position:12px -315px;"></div>
        </a>
        <a id="index_footer_show" style="position:fixed;bottom:65px;" >
            <div style="width:50px;height:50px;background:url(/statics/img/gtmin.png) no-repeat;background-position:-32px -315px;"></div>
        </a>
    </div>
</div>